main {
  background: white;
  width: 21cm; 
  margin: 2rem auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container-question {
  font-weight: bold;
}

.header-container-response {
  font-style: italic;
}

.logo {
  width: 150px;
  height: 150px;
}

.question-title {
  margin-left: 0px;
}

.question-container {
  margin-left: 2rem;
}

.question {
  margin: 3rem 0;
}

.question-item {
  font-weight: bold;
  font-size: 18px;
}

.response-item {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 16px;
  font-style: italic;
}

.form-container {
  margin-left: 2rem;
}

.form-labels {
  margin: 1rem 1rem  ;
}

.note-title {
  font-size: 18pt;
  font-weight: bold;
}

.note-item {
  margin: 1rem 0;
}

.footer {
  margin: 3rem 0;
}


