@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "PT Serif", system-ui, sans-serif;
  }
}

.header-banner {
  background-image: url(../../public/dog_banner.jpg);
  background-position: 10% 60%;
  background-size: cover;
}

.body {
  background-color: #EAD5B6;
}

a:hover, button:hover {
  cursor: url('../../public/paw-print_resized.svg'), auto ;
}

.background-height {
  min-height: calc(100vh - 528px);
}


