@tailwind base;
@tailwind components;
@tailwind utilities;

.header-banner {
  background-image: url(../../public/IMG_9624.jpg);
  background-position: 10% 60%;
  background-size: cover;
}

.body {
  background-color: #EAD5B6;
}

a:hover {
  cursor: url('../../public/paw-print_resized.svg'), auto ;
}


